.app {
  --list-bullet: url('../../assets/img/list-bullet-dark.svg');
  
  --primary: rgb(251 250 255);
  --surface-tint: rgb(172 199 255);
  --on-primary: rgb(0 0 0);
  --primary-container: rgb(179 203 255);
  --on-primary-container: rgb(0 0 0);
  --secondary: rgb(251 250 255);
  --on-secondary: rgb(0 0 0);
  --secondary-container: rgb(195 202 225);
  --on-secondary-container: rgb(0 0 0);
  --tertiary: rgb(255 249 250);
  --on-tertiary: rgb(0 0 0);
  --tertiary-container: rgb(226 192 228);
  --on-tertiary-container: rgb(0 0 0);
  --error: rgb(255 249 249);
  --on-error: rgb(0 0 0);
  --error-container: rgb(255 186 177);
  --on-error-container: rgb(0 0 0);
  --background: rgb(17 19 24);
  --on-background: rgb(226 226 233);
  --surface: rgb(17 19 24);
  --on-surface: rgb(255 255 255);
  --surface-variant: rgb(68 71 79);
  --on-surface-variant: rgb(251 250 255);
  --outline: rgb(201 202 212);
  --outline-variant: rgb(201 202 212);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(226 226 233);
  --inverse-on-surface: rgb(0 0 0);
  --inverse-primary: rgb(5 41 89);
  --primary-fixed: rgb(222 231 255);
  --on-primary-fixed: rgb(0 0 0);
  --primary-fixed-dim: rgb(179 203 255);
  --on-primary-fixed-variant: rgb(0 21 54);
  --secondary-fixed: rgb(223 231 253);
  --on-secondary-fixed: rgb(0 0 0);
  --secondary-fixed-dim: rgb(195 202 225);
  --on-secondary-fixed-variant: rgb(14 22 38);
  --tertiary-fixed: rgb(254 220 255);
  --on-tertiary-fixed: rgb(0 0 0);
  --tertiary-fixed-dim: rgb(226 192 228);
  --on-tertiary-fixed-variant: rgb(35 13 40);
  --surface-dim: rgb(17 19 24);
  --surface-bright: rgb(55 57 62);
  --surface-container-lowest: rgb(12 14 19);
  --surface-container-low: rgb(26 27 32);
  --surface-container: rgb(30 32 37);
  --surface-container-high: rgb(40 42 47);
  --surface-container-highest: rgb(51 53 58);
}
