:host {
  display: contents;
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
}

.app {
  background: var(--surface-container-lowest);
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  color: var(--on-surface-variant);
}
