:host {
  position: absolute;
  display: flex;
  flex-shrink: 0;
  width: 100vw;
  height: 100dvh;
  overflow: auto;
  & > main {
    width: 100vw;
    height: fit-content;
    & > nav {
      display: flex;
      align-items: center;
      padding: 0.5rem 0.25rem;
      transition: background 0.2s cubic-bezier(0, 0, 0.2, 1);
      height: 4.5rem;
      flex-shrink: 0;
      width: 100vw;
      & > h1 {
        flex: 1;
        color: var(--on-surface);
        text-align: center;
      }
    }
  }
}
