<section *ngIf="page === 0" class="create-1">
  <app-navbar
    label=""
    page="create-1"
    class="p-l"
    [form]="data"
  ></app-navbar>
  <main>
    <label for="image">
      <input
        type="file"
        name="image"
        accept="image/*"
        id="image"
        (input)="handleFile($event)"
      />
      <div>
        <span *ngIf="!data.image" class="material-symbols-rounded">
          add_photo_alternate
        </span>
        <img *ngIf="data.image" src="{{ data.image }}" alt="recipe" />
      </div>
    </label>
  </main>
</section>
<section *ngIf="page === 1" class="create-2">
  <app-navbar
    label="Recipe name"
    page="create-2"
    class="p-l"
    [form]="data"
  ></app-navbar>
  <main>
    <label for="image">
      <input
        type="file"
        name="image"
        accept="image/*"
        id="image"
        (input)="handleFile($event)"
      />
      <div>
        <span *ngIf="!data.image" class="material-symbols-rounded">
          add_photo_alternate
        </span>
        <img *ngIf="data.image" src="{{ data.image }}" alt="recipe" />
      </div>
    </label>
  </main>
</section>
